/*
 * Propriété par defaut
 */
body, img, a, div, form, table { margin: 0; padding: 0; }
img { border: none; }

/*
 * Propriété des fenetre ajax
 */
#ajax_loading, #ajax_error { display: none ; }

/*
 * Divs contenant tout le site
 */
#content {
	position: relative ;
	width: 100% ;
	margin: 0;
	padding: 0;
}

/*
 * Class "pratique"
 */
.clear { visibility: hidden ; clear: both ; height: 0px; margin: 0 ; padding: 0 ; }

/*
 * Page de debuguages
 */
.debugBtn {
	border: 1px solid black ;
	background: #DADADA ;
	color: #000 ;
	text-decoration: none ;
	font-weight: bold;
	text-align: center;
	padding: 10px 5px 10px 5px;
	margin: 0 ;
}
