/*
 * Propriété par defaut
 */
body, img, a, div, form, table { margin: 0; padding: 0; }
img { border: none; }

body {
	padding-top: 70px;
	padding-bottom: 70px;
}

/*
 * Propriété des fenetre ajax
 */
#ajax_loading, #ajax_error { display: none ; }

/*
 * Class "pratique"
 */
.clear { visibility: hidden ; clear: both ; height: 0px; margin: 0 ; padding: 0 ; }

/*
 * Page de debuguages
 */
.debugBtn {
	border: 1px solid black ;
	background: #DADADA ;
	color: #000 ;
	text-decoration: none ;
	font-weight: bold;
	text-align: center;
	padding: 10px 5px 10px 5px;
	margin: 0 ;
}

.float-right { float: right; }

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.form-connexion {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[id="usr"] {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[id="projet"] {
  margin-bottom: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[id="email"] {
  margin-bottom: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.pagination>li>a, .pagination>li>span {
	border-radius: 50% !important;margin: 0 5px;
}

#navbar .pagination-sm {
	margin: 12px 0px 0px 10px;
}
#navbar .pagination-sm A {
	background-color: #808080;
	color: #FFF;
	font-size: 10px;
}
#navbar .pagination-sm LI.active A {
	background-color: #000;
}

.item_ref {
	margin-top: -5px;
}

.item_addcart {
	position: absolute;
	bottom: 5px;
	right: 0px;
}
.item_description {
	padding-bottom: 40px;
}

#deco, .inscription {
	margin: 9px 0px 0px 10px;
}

.btn-cart {
	font-size: .2em;
}

.item_template .form-inline INPUT {
	width: 15%;
}

.img_link {
	display: block;
	width: 100%;
}

.img_link IMG {
	display: block;
	margin: auto;
}

/* START OF DROPDOWN MENU */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* END OF DROPDOWN MENU */
